.Process {
  min-height: 48em;
  // padding-top: 48px;
  @include mq() {
    min-height: auto;
  }
  &Container {
    margin: auto 0;
    // width: 93%;
    .ProcessMain {
      display: flex;
      min-width: 1280px;
      height: 100vh;
      @include mq() {
        display: block;
        min-width: 320px;
      }
      .ProcessList {
        max-width: 400px;
        padding: 16px 24px 0px 24px;
        max-height: 100vh;
        overflow: auto;
        flex: 1;
        @include mq() {
          max-width: 600px;
          width: 100%;
          overflow: unset;
          max-height: none;
        }
        p {
          font-size: 0.8rem;
        }
        h1 {
          text-align: left;
          padding-left: 1.2em;
          @include mq() {
            font-size: 1.2em;
          }
          &.teamList {
            text-align: center;
          }
        }
        &__Border {
          margin-bottom: 1em;
          .SelectBox {
            display: flex;
          }
          select {
            width: 150px;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 0 9px;
            margin: 4px;
            border: 1px solid $PrimaryColor;
            text-align-last: right;
            outline: none;
            // appearance: none;
            color: $FontColor;
            height: 32px;
            box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.25);
            &:hover {
              box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
              transform: translateY(-0.1875em);
            }
            option {
              text-align: center;
            }
          }
        }
        .upButton {
          position: fixed;
          font-size: 2rem;
          display: none;
          top: 1.5em;
          left: 1rem;
          background-color: $SecondaryColor;
          width: 40px;
          height: 40px;
          z-index: 999;
          text-align: center;
          color: #fff;
          border: 1px solid $SecondaryColor;
          box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 20%);
          border-radius: 50%;
          @include mq() {
            display: block;
          }
          &:after {
            content: "";
            width: 11px;
            height: 11px;
            border: 2px solid;
            border-color: $WhiteColor $WhiteColor transparent transparent;
            transform: rotate(-45deg);
            position: relative;
            display: inline-block;
            top: -9px;
          }
          &:hover {
            background-color: #ffffff;
            color: $SecondaryColor;
            cursor: pointer;
            transition: all 0.3s ease;
          }
          &:hover::after {
            // background-color: $SecondaryColor;
            border-color: $SecondaryColor $SecondaryColor transparent
              transparent;
            color: $SecondaryColor;
            transition: all 0.3s ease;
          }
        }
        .downButton {
          position: fixed;
          font-size: 2rem;
          display: none;
          top: 3em;
          left: 1rem;
          background-color: $SecondaryColor;
          width: 40px;
          height: 40px;
          z-index: 999;
          text-align: center;
          color: #fff;
          border: 1px solid $SecondaryColor;
          box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 20%);
          border-radius: 50%;
          @include mq() {
            display: block;
          }
          &:after {
            content: "";
            width: 11px;
            height: 11px;
            border: 2px solid;
            border-color: $WhiteColor $WhiteColor transparent transparent;
            transform: rotate(135deg);
            position: relative;
            display: inline-block;
            top: -16px;
          }
          &:hover {
            background-color: #ffffff;
            color: $SecondaryColor;
            cursor: pointer;
            transition: all 0.3s ease;
          }
          &:hover::after {
            // background-color: $SecondaryColor;
            border-color: $SecondaryColor $SecondaryColor transparent
              transparent;
            color: $SecondaryColor;
            transition: all 0.3s ease;
          }
        }
      }
      .Result {
        width: 816px;
        max-height: 100vh;
        overflow: auto;
        flex: 2;
        margin-left: 24px;
        padding-top: 16px;
        @include mq() {
          max-width: 600px;
          width: 100%;
          min-width: 320px;
          margin-left: 0;
          overflow: unset;
          padding-bottom: 3em;
        }
        .title {
          margin: 0;
          padding-left: 60px;
          width: 800px;
          @include mq() {
            font-size: 1.2em;
            width: auto;
            padding-left: 0;
          }
        }
        &__Border {
          padding-top: 5px;
          display: flex;
          flex-wrap: wrap;
          width: 800px;
          @include mq() {
            width: 90%;
            // justify-content: space-around;
            margin: auto;
          }
          .Flex {
            display: flex;
            width: 50%;
            margin-bottom: 1em;
            padding-bottom: 10px;
            padding-top: 8px;
            // border-bottom: 1px solid $FontColor;
            background-color: $WhiteColor;
            box-shadow: 2px 2px 2px rgb(185, 184, 184);
            @include mq() {
              justify-content: space-around;
              width: 48%;
            }
            &.left {
              @include mq() {
                justify-content: flex-end;
              }
            }
            &.right {
              padding-right: 16px;
              @include mq() {
                justify-content: flex-start;
                padding-right: 0;
              }
            }
            &Count {
              height: 88px;
              width: auto;
              &__Button {
                display: flex;
                height: 44px;
                width: 80px;
                @include mq() {
                  display: block;
                  width: 48px;
                  position: relative;
                }
                .SubCount {
                  background: $SubColor;
                  font-size: 1rem;
                  width: 32px;
                  height: 32px;
                  line-height: 16px;
                  text-align: center;
                  color: $FontColor;
                  border-bottom: 2px solid #5a687480;
                  border-radius: 50%;
                  margin: auto;
                  padding: 0;
                  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
                  // box-shadow: 0px 2px 3px rgba(0, 0, 0, 13%);
                  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.1));
                  font-family: "游ゴシック", YuGothic, "游ゴシック体";
                  @include mq() {
                    display: flex;
                    width: 36px;
                    height: 18px;
                    border-bottom: 1px solid #5a687480;
                    border-radius: 50% / 0 0 100% 100%;
                    margin: auto 3px;
                    position: absolute;
                    left: 3px;
                    top: 24px;
                    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 10%);
                    justify-content: center;
                    align-items: center;
                  }
                  &.bottom {
                    @include mq() {
                      top: 28px;
                    }
                  }
                  &:hover {
                    cursor: pointer;
                  }
                  &:active {
                    -webkit-transform: translateY(1px);
                    transform: translateY(1px);
                    box-shadow: none;
                    // border: 1px solid $SubColor;
                    border-bottom: 2px solid $SubColor;
                  }
                  .CountText {
                    color: $FontColor;
                  }
                }
                .AddCount {
                  background: $SubColor;
                  font-size: 1rem;
                  width: 32px;
                  height: 32px;
                  line-height: 16px;
                  text-align: center;
                  color: $FontColor;
                  border-bottom: 2px solid #5a687480;
                  border-radius: 50%;
                  margin: auto;
                  padding: 0;
                  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
                  // box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 13%);
                  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.1));
                  font-family: "游ゴシック", YuGothic, "游ゴシック体";
                  @include mq() {
                    display: flex;
                    width: 36px;
                    height: 18px;
                    border-bottom: 1px solid #5a687480;
                    border-radius: 50% / 100% 100% 0 0;
                    margin: auto 3px;
                    position: absolute;
                    left: 3px;
                    top: 3px;
                    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 10%);
                    justify-content: center;
                    align-items: center;
                  }
                  &.bottom {
                    @include mq() {
                      top: 7px;
                    }
                  }
                  &:hover {
                    cursor: pointer;
                  }
                  &:active {
                    -webkit-transform: translateY(1px);
                    transform: translateY(1px);
                    box-shadow: none;
                    // border: 1px solid $SubColor;
                    border-bottom: 2px solid $SubColor;
                  }
                }
              }
              &__Point {
                display: flex;
                height: 44px;
                width: 60px;
                @include mq() {
                  display: block;
                  width: 32px;
                  position: relative;
                }
                .ResultTime {
                  width: 60px;
                  margin: auto;
                  font-size: 1.5rem;
                  @include mq() {
                    width: 30px;
                    font-size: 1.2em;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                  }
                }
              }
            }
            &Name {
              color: $FontColor;
              width: 200px;
              @include mq() {
                width: 88px;
                font-weight: 600;
                font-size: 1em;
                text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.15);
              }
              .ResultIndex {
                border: 1px solid $PrimaryColor;
                width: 60px;
                margin: 5px auto;
                height: 30px;
                box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.25);
              }
              .ResultName {
                font-size: 1rem;
                border: 1px solid $PrimaryColor;
                width: 178px;
                height: 50px;
                line-height: 1;
                margin: 4px 10px;
                box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.25);
                position: relative;
                @include mq() {
                  font-size: 0.8em;
                  width: auto;
                  line-height: 1.2;
                  margin: 4px auto;
                }
                &__text {
                  overflow-wrap: break-word;
                  margin: 0;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  margin-right: -50%;
                  transform: translate(-50%, -50%);
                }
              }
              .DeleteButton {
                background: $PrimaryColor;
                font-size: 0.8rem;
                min-width: 64px;
                height: 22px;
                // line-height: 20px;
                text-align: center;
                color: $WhiteColor;
                // border: 2px solid $PrimaryColor;
                border-radius: 4px;
                margin: auto;
                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 15%);
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                border-top: 1px solid $PrimaryColor;
                border-left: 1px solid $PrimaryColor;
                border-bottom: 2px solid #7694b180;
                border-right: 1px solid $PrimaryColor;
                &:hover {
                  // color: red;
                  // transition: all 0.3s ease;
                  cursor: pointer;
                }
                &:active {
                  -webkit-transform: translateY(1px);
                  transform: translateY(1px);
                  box-shadow: none;
                  border-top: none;
                  border-bottom: none;
                }
              }
            }
            &Cross {
              height: 88px;
              @include mq() {
                display: none;
                width: 2%;
                border-bottom: 1px solid $FontColor;
                height: 105px;
              }
              &__item {
                width: 60px;
                height: 44px;
                line-height: 38px;
                font-size: 2em;
                position: relative;
                color: $FontColor;
                @include mq() {
                  width: auto;
                  position: relative;
                }
                .CrossText {
                  position: absolute;
                  top: 51%;
                  left: 50%;
                  margin-right: -50%;
                  transform: translate(-50%, -50%);
                  font-size: 0.8em;
                }
              }
            }
            &Number {
              height: 88px;
              width: 60px;
              position: relative;
              @include mq() {
                margin: auto 2px auto 6px;
                display: none;
              }
              &__item {
                width: 60px;
                line-height: 1.5;
                font-size: 0.8em;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                @include mq() {
                  width: 20px;
                  line-height: 1.2;
                  font-size: 0.8em;
                }
              }
            }
          }
        }
      }
    }
  }
}
